/* @override 
	http://starpanama.org/sites/all/themes/starpanama/css/style.css?o6m3rq */



/**
 * Place your custom styles here.
 */

 img {
 	max-width: 100%;
 }
 /* @group General Styles */
	 body {
	 	font-family: Lato, helvetica, sans-serif;
	 }
	 section.col-sm-12 {
	 	padding-left: 0;
	 	padding-right: 0;
	 }
	 .container-fluid {
	 	/*padding-left: 0;*/
	 }
	 .navbar-nav {
	 	float: right;
	 }
	 .block-system.block-menu {
		clear: both;
		text-align: right;
	 }
	 /* Small Devices, Tablets */
	     @media only screen and (min-width : 768px) {
			.block-system.block-menu {
				position: absolute;
				right: 0px;
				top: 50px;
			}
			.block-system.block-menu ul.menu li {
				float: left;
			}
			.block-system.block-menu ul.menu li a {
				text-align: right !important;
			}	 
	     }

	 .block-system.block-menu ul.menu li a {
	 	color: #fff;
	 	text-transform: uppercase;
	 }
	 .block-system.block-menu ul.menu li a:hover {
	 	background: transparent;
	 	text-decoration: underline;
	 }
	 .navbar-default .navbar-nav > .active > a,
	 .navbar-default .navbar-nav > .active > a:hover,
	 .navbar-default .navbar-nav > .active > a:focus {
	   color: #fff;
	   background-color: transparent;
	 }
	 .navbar-default {
	 	/*background: transparent;*/
	 	border: none;
	 	padding: 0;
	 	background: transparent url(../images/bg-intro.jpg) center top no-repeat;
	 	margin-bottom: 0;
	 	background-size: cover;
	 }
	 .share-provider {
	 	margin-top: 20px;
	 }
	 a.more.share-provider {
	 	display: none;
	 }
	 .navbar-brand {
	 		/*height: 150px;*/
	 	}
	 .block-simplified-social-share {
	 	display: inline-block;
	 	float: right;
	 	/*clear: both;*/
	 }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.logo img{
			height: 50px;
		}
    }
	 /* Extra Small Devices, Phones */ 
	     @media only screen and (max-width : 480px) {
	 		.logo img{
	 			/*height: 50px;*/
	 		}
	     }
	 .blanco, 
	 .white {
	 		color: #fff;
	 }
	 .yellow {
	 		color: #fad032;
	 }
	 .morado {
	 	color: #682c8a;
	 }
	 .orange {
	 	color: #e43f32;
	 }
	 .nodisplay {
	 	display: none;
	 }
 
 /* @end */

/* @group Intro */

	.intro{
		font-size: 30px;
		font-weight: lighter;
		/*padding: 60px 150px 30px;*/
		color: #fff;
		background: url(../images/bg-intro.jpg) no-repeat;
		/*max-height: 685px;*/
		background-size: cover;
	}
	/* Extra Small Devices, Phones */ 
	    @media only screen and (max-width : 480px) {
			.intro {
				font-size: 20px;
			}
	    }
	.intro p {
		padding: 0 15px;
	}
	.intro .embed-responsive {
		border: 1px solid #804ef5;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.intro .texto {
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.uleft-corner{
		background: url('../images/corner-uleft-purple.png') no-repeat left top;
	}
	.lright-corner {
		background: url('../images/corner-lright-purple.png') no-repeat right bottom;		
	}
	p.uleft-corner {
		padding-top: 15px;
	}
	p.lright-corner {
		padding-bottom: 15px;
	}

/* @end */

/* @group Estadisticas */

.estadisticas {
	background: url('../images/bg-estadisticas.jpg') no-repeat;
	max-height: 240px;
	/*height: 240px;*/
	/*padding: 35px 0px;*/
	background-size: cover;
}
.estadisticas img {
	margin-top: 35px;
	margin-bottom: 35px;
}

/* @end */

/* @group Cambiemos */
	.cambiemos h3 {
		color: #682c8a;
		font-size: 32px;
	}
	/* Extra Small Devices, Phones */ 
	    @media only screen and (max-width : 480px) {
			.cambiemos h3 {
				font-size: 26px;
			}
	    }
	.cambiemos p {
		font-weight: 700;
	}
	.cambiemos p.morado {
		font-size: 18px;
		font-weight: 300;
	}
	.cambiemos ul li {
		font-weight: 100;
		list-style-image: url(../images/icn-bullet-check.png);
		margin-bottom: 5px;
	}
	.cambiemos img {
		max-width: 100%;
	}

/* @end */

/* @group Testimonios */

.testimonios {
	background: url('../images/bg-testimonios.jpg') no-repeat;
	color: #fff;
	/*padding: 40px 0;*/
	/*height: 245px;*/
	/*max-height: 245px;*/
	background-size: cover;
}
.testimonio {
	margin: 40px 0;
}
/*.testimonio {
	background: url('../images/bg-testimonios.png') no-repeat top;
}
.testimonio.left {
	background: url('../images/testimonio-nina.png') no-repeat left top;
}
.testimonio.right {
	background: url('../images/testimonio-vol.png') no-repeat left top;
}*/
	.testimonio h3,
	.testimonio p {
		padding-left: 150px;
		width: 370px;
		position: absolute;
		display: block;		
	}
	.testimonio h3 {
		top: -20px;
	}
	.testimonio p {
		top: 55px;
		font-weight: 100;
	}
	.testimonio p.nombre {
		top: 23px;
		font-size: 12px;
	}
	/* Extra Small Devices, Phones */ 
	    @media only screen and (max-width : 480px) {
			.testimonio h3,
			.testimonio p {
				padding-left: 130px;
				width: 340px;
			}
			.testimonio p {
				top: 43px;
			}
	    }

/* @end */



/* @group Se Voluntario */

.desafio {
	background: url('../images/bg-desafio.jpg') no-repeat;
	/*max-height: 625px;*/
	/*padding: 35px 0;*/
	/*height: 625px;	*/
	color: #000;
	font-size: 16px;
	font-weight: 100;
	background-size: cover;
}
.italica {
	font-style: italic;
	font-weight: lighter;
}
.desafio .texto {
	padding: 30px 0;
}
.desafio .texto img {
	max-width: 100%;
	/*margin-top: 35px;*/
}
.desafio p.top {
	position: absolute;
	left: 300px;
	/*display: inline-block;*/
}

.desafio p.big {
	font-size: 50px;
	font-weight: 900;
	display: block;
}
.desafio .col-sm-2,
.desafio .col-md-2 {
	text-align: center;
}
.desarrolla, .promueve, .impacta {
	margin-bottom: 35px;
}
.desafio img {
	margin-bottom: 10px;
}
.desafio .col-sm-2 p,
.desafio .col-md-2 p {
	font-weight: 700;
	line-height: 1.2em;
}
strong.negro{
	background: url('../images/corner-uleft-yellow.png') no-repeat left top;
}
strong.blanco {
	background: url('../images/corner-lright-yellow.png') no-repeat right bottom;		
}
strong.negro {
	padding-top: 5px;
	padding-left: 15px;
}
strong.blanco {
	padding-bottom: 5px;
	padding-right: 15px;
}
.registrate {
	text-align: center;
}
.registrate a {
	background: url('../images/bg-boton.png') no-repeat;
	color: #fff;
	display: inline-block;
	height: 70px !important;
	width: 270px !important;
	line-height: 60px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}

/* @end */

/* @group FAQ */
.faq img {
	max-width: 100%;
}
.faq h2 {
	margin-top: 60px;
	margin-bottom: 30px;
}
.faq ul li {
	font-weight: 100;
}
.faq p {
	color: #000;
	font-weight: 700;
}


/* @end */

/* @group FOOTER */
.footer img {
	max-width: 100%;
}
.footer .texto {
	margin-bottom: 30px;
}

/* @end */
